<ul class="navbar-nav">
	@if (User.Identity.IsAuthenticated)
	{
		<li class="nav-item">
			<a class="nav-link" href="#">Hello @User.Identity.Name</a>
		</li>
		<li>
			<button id="openChatButton" type="button" class="btn btn-outline-primary btn-upper" data-toggle="modal" data-target="#kt_chat_modal">Messages</button>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-action="Logout" asp-controller="Home">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-action="Login" asp-controller="Home">Login</a>
		</li>
	}
</ul>